
body
{
    background-color: #d6e6fa;
}

#contenido, #buscador
{    
    margin-left: 25%;
    margin-top: 50px;
    width: 50%;
}
#select
{
    padding: 35px;
    width: 100%;
}
#contenido
{
    background-color: #faebd7;
}
#personaje
{
    overflow: hidden;
    padding: 25px;
}
#personajeImg
{
    
    float: right;
    max-width: 50%;
    background-color: #fff;
 
}
#personajeDatos
{
    width: 50%;
}
img
{
    width: 100%;
}
